*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #191f36;
    color: #fff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 13px 29px;
    
}

.menu a{
    text-decoration: none;
    color: white;
    margin-left: 8px;
}

.logo{
    color: white;
}

.menu a:hover{
    background-color: blue;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

img{
    width: 250px;
    height: 150px;
    border-radius: 80%;
}

.about h2{
    text-align: center;
    margin-bottom: 20px;
    
}

.pp{
    text-align: center;
    line-height: 1.7;
    max-width: 360px;
    margin: 0 auto;
}

.services{
    margin-top: 50px;
}

.ser{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}
 

span{
    color: #59b2f4;
}


.services h2{
    text-align: center;
    margin-bottom: 10px;
}
#ss{
    color: #59b2f4;
}

#me{
    color: #59b2f4;
}

.por{
    color: #59b2f4;
}

.port h2{
    margin-top: 39px;
    text-align: center;
}

.im img{
    border-radius: 20px;
    gap: 30px;
    margin-top: 29px;
}

.con h2{
    margin-top: 39px;
    text-align: center;
}

.us{
    color: #59b2f4;
}

.cat{
    margin-top: 29px;
    text-align: center;
}

.btn{
    background-color: #59b2f4;
}

.area{
    width: 337px;
    height: 150px;
    margin-top: 1px;
    border: 2px white solid;

}

footer{
    margin-top: 34px;
    text-align: center;
}

input{
    border: 2px white solid;
}